body {
}

.head {
    background-color: rgb(122, 155, 122);
    font-size: 30px;
    word-spacing: 90px;
    padding-left: 25%;
}

.mensw {
    text-align: center;
    font-size: 100px;
    color: rgb(212, 203, 203);
    background-image: url(../Image/mwbg1.jpg);
    margin-top: -20px;
    border: 2px solid black;
}

.btn {
    background-color: #002745;
    color: white;
}

    .btn:hover {
        background-color: aliceblue;
        border-radius: 10px;
    }

.cardDress{
    border:none;
}

.logo {
    margin-left: -33%;
}

.cloth {
    margin-left: 20%;
    height: 450px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.fimg {
    height: 450px;
    background-color: lightgray;
}

.img1 {
    height: 100%;
    object-fit: fill;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #002745 !important;
    width: 100%;
}

.pin {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 20%;
    
}



.disc {
    border: none;
    color: white;
    background-color: #002745;
}

.search {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #002745;
    margin-left:10px;
}

.secondnavi {
    background-color: white !important;
    position: sticky;
    top: 60px;
}

.snavi {
    color: #002745 !important;
}

.sort {
    margin-left: 500px;
}

.firstc {
    background-color: #002745;
}

.dress {
    height: 300px;
}

.heading {
    color: #002745;
}

.btn1 {
    border: none;
   background-color: #002745;
    color: white;

}


.comp {
    text-align: center;
}

.head2 {
    margin-left: 40%;
    text-align: center;
}
.head3 {
    margin-left: 10px;
}
.help {
    padding-left: 70px !important;
    padding-top: 16px;
}

.cart {
    padding-left: 70px !important;
    padding-top: 16px;
}

.flex-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-items: space-between;
}

.signin {
    color: white !important;
}

.btndrop {
    background-color: #002745 !important;
    color: white !important;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.cname {
    color: #002745;
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 20%;
}



.navii1 {
    padding-top: 10px;
}

.masterhead {
    padding-top: 38px;
    text-align: center;
    /* position: sticky;
  top: 60px; */
}
/*--------------DropDown---------------------------*/
.dropbtn {
    background-color: white;
    color: #002745;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

/*--------------1st navibar reponsive--------------------------*/
.flex-container {
    display: flex;
    flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px)  {
    .flex-container {
        flex-direction: column;
    }
}
