@page "/Purchasing"

<body>
 
    <form class="container">
        <h2 class="heading">Purchasing</h2>
        <hr />
        <div class="Product">
        <label for="product">Product Name:</label>
            <input type="text" required /><br />
        </div>
        <div class="Quantity">
        <label for="Quantity">Quantity:</label>
            <input type="text" required /><br />
        </div>
       
        <div class="Price">
        <label for="Price">Price:</label>
            <input type="text" required /><br />
        </div>
        <div class="Payment">
        <label for="Payment">Payment method:</label>
            <input type="text" required /><br />
        </div>
        <div class="Buy">
        <input type="button" value="Buy" class="btn " />
        </div>
    </form>
 
</body>
@code {

}
