@page "/Seller login"


<body>




    <div class="center">
        <h2 class="Header">Seller Login</h2>
        <hr />
        <form method="POST" action="">

            <div class="txt_field">
                <label>Mobile Number: </label>
                <input type="text" name="Mobile number" required>
                <span></span>

            </div>
            <div class="txt_field pass">
                <label>Password: </label>
                <input type="password" name="password" required>
                <span></span>

            </div>
            <div class="submit">
                <input name="submit" type="Submit" class="btn" value="Login" />
            </div>
            <div class="signup_link">
                Create a new account ? <a href="/Seller Signup">Sign up</a>
            </div>
        </form>
    </div>




</body>
@code {

}
